@tailwind base;
@tailwind components;
@tailwind utilities;

.mirror {
  transform: scaleX(-1);
}

.mini {
  transform: scale(0.5, 0.5);
}

@layer components {
  .text-input {
    @apply my-4 p-4;

    outline: none;
    margin: 15px;
    padding: 7px 0 7px 14px;
    border: 3px solid rgb(150, 150, 150);
    box-shadow: 0px 0px 0px 1px rgb(90, 90, 90),
      inset 0px 0px 0px 1px rgb(90, 90, 90), 1px 2px 0px 2px rgb(100, 100, 100);
    border-radius: 0.3em;
    color: rgb(50, 50, 50);
  }

  .btn-primary {
    @apply my-4 p-4 text-lg;

    outline: none;
    border: 3px solid white;
    box-shadow: 0px 0px 0px 1px rgb(90, 90, 90),
      inset 0px 0px 0px 1px rgb(90, 90, 90), 0px 2px 0px 2px rgb(100, 100, 100);
    text-shadow: 0px -1px rgb(90, 90, 90), -1px 0px rgb(90, 90, 90);
    border-radius: 0.3em;
    color: white;
  }
  .btn-primary:active {
    box-shadow: 0px 0px 0px 1px rgb(90, 90, 90),
      inset 0px 0px 0px 1px rgb(90, 90, 90), 0px 1px 0px 2px rgb(100, 100, 100);
  }

  .screen-section {
    @apply w-screen snap-start shrink-0 flex;
  }

  .retro-item {
    @apply w-20 h-20 bg-white;

    border: 3px solid rgb(70, 70, 70);
    box-shadow: 3px 3px 0px 3px rgb(100, 100, 100);
    border-radius: 0.5em;
  }
}
